html,
body {
  /* overflow: hidden; */
  font-family: "avenir", sans-serif !important;
  margin: 0px !important;
  font-size: calc (1em + 1vw);
}

html {
  font-size: calc(1em + 1vw);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "avenir", sans-serif !important;
}

/* @media (min-width: 768px) {
  body {
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
  }
} */

@media all and (max-width: 768px) {
  .left {
    color: #fff;
    width: 100% !important;
  }
  .right {
    display: block !important;
    width: 100% !important;
    float: none !important;
    height: 50vh !important;
  }

  . .footer {
    width: 100% !important;
  }

  .footer-icons {
    width: 100% !important;
  }
}

p.bold-hello {
  font-size: 100px;
  font-weight: bold;
  text-align: right;
  padding-right: 2.5%;
}

p.bold-name {
  font-size: 3.5em;
  font-weight: bold;
  text-align: left;
  padding-left: 2.5%;
}

p.subtitle {
  font-size: 20px;
  color: #303030;
}

.left {
  background-color: #ffdb58;
  min-height: 100vh;
  width: 100%;
  background-image: url("../img/jessa-darken.png");
  background-blend-mode: darken;
  background-attachment: fixed;
  /* background-size: cover; */
  z-index: 2;
  background-size: contain;
  background-repeat: no-repeat;
  overflow-x: hidden;
  background-position: left bottom;
}

.right {
  background-color: #fff;
  min-height: 100vh;
  z-index: 1;
  overflow-x: hidden;
  width: 100%;
}

.center-table {
  background: none;
  width: 100%;
  display: table;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.table-overlap {
  background: none;
  width: 100%;
  display: table;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.center-table p {
  display: table-cell;
  vertical-align: middle;
}

.table-overlap p {
  display: table-cell;
  vertical-align: middle;
  padding-left: 3.5%;
  padding-right: 50px;
}

.floater {
  line-height: 10%;
}

#myinnercontainer {
  position: absolute;
  top: 50%;
}

.text-above {
  height: 100%;
  background: none;
  width: 100%;
  display: table;
  position: absolute;
  z-index: 1;
  margin-top: 12%;
}

.text-above p {
  display: table-cell;
  margin: 0;
  vertical-align: middle;
  z-index: 2;
}

.icons {
  height: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  height: 100%;
}

.footer {
  position: fixed;
  left: 0;
  color: white;
}

.footer-icons {
  padding-bottom: 100px;
  padding-top: 100px;
  margin-left: auto;
  margin-right: auto;
  display: table;
  vertical-align: middle;
  background-color: #000;
  width: 100%;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.tiny-text {
  margin-top: 30px;
  color: gray;
  font-size: 12px;
}

.notsotiny {
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 30px;
}

.wexp {
  column-count: 3;
  column-gap: 40px;
  background-color: #fff;
  overflow-x: hidden;
  width: 100%;
  margin-left: 15%;
  margin-right: 15%;
}

.wexp-intro {
  background-color: #fff;
  overflow-x: hidden;
  width: 100%;
  text-align: left;
  padding-top: 100px;
}

.centered-text {
  text-align: left;
}

p.notsotitle {
  font-size: 23px;
  color: #303030;
}

.wexp-outro {
  background-color: #fff;
  overflow-x: hidden;
  width: 100%;
  text-align: left;
  color: transparent;
}
