html,
body {
  /* overflow: hidden; */
  font-family: "avenir", sans-serif !important;
  margin: 0px !important;
  font-size: calc (1em + 1vw);
}

html {
  font-size: calc(1em + 1vw);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "avenir", sans-serif !important;
}

/* @media (min-width: 768px) {
  body {
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
  }
} */

@media all and (max-width: 768px) {
  .left {
    color: #fff;
    width: 100% !important;
  }
  .right {
    display: block !important;
    width: 100% !important;
    float: none !important;
    height: 50vh !important;
  }

  . .footer {
    width: 100% !important;
  }

  .footer-icons {
    width: 100% !important;
  }

  p.bold-hello {
    text-align: center;
  }
}

p.bold-hello {
  font-size: 100px;
  font-weight: bold;
  text-align: right;
  padding-right: 10%;
  padding-top: 25%;
}

p.bold-name {
  font-size: 3em;
  font-weight: bold;
  text-align: left;
  padding-left: 2.5%;
  font-family: Georgia, "Times New Roman", Times, serif;
}

p.subtitle {
  font-size: 18px;
  color: #303030;
}

p.company {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 19px;
  color: #303030;
}

.me {
  width: 250px;
}

.left {
  background-color: #edb2a6;
  min-height: 100vh;
  width: 100%;
  /* background-image: url("../img/me.png"); */
  background-size: 1000px 1000px;
  background-size: cover;
  z-index: 2;
  background-size: contain;
  background-repeat: no-repeat;
  overflow-x: hidden;
  background-position: right;
}

.right {
  background-color: #fff;
  min-height: 100vh;
  z-index: 1;
  overflow-x: hidden;
  width: 100%;
}

.center-table {
  background: none;
  width: 100%;
  display: table;
  position: absolute;
  top: 35%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.table-overlap {
  background: none;
  width: 100%;
  display: table;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.center-table p {
  display: table-cell;
  vertical-align: middle;
}

.table-overlap p {
  display: table-cell;
  vertical-align: middle;
  padding-left: 3.5%;
  padding-right: 50px;
}

.floater {
  line-height: 10%;
}

#myinnercontainer {
  position: absolute;
  top: 50%;
}

.text-above {
  height: 100%;
  background: none;
  width: 100%;
  display: table;
  position: absolute;
  z-index: 1;
  margin-top: 12%;
}

.text-above p {
  display: table-cell;
  margin: 0;
  vertical-align: middle;
  z-index: 2;
}

.icons {
  height: 20px;
  padding-right: 20px;
}

.container {
  height: 100%;
}

.footer {
  position: fixed;
  left: 0;
  padding: 100px;
}

.tiny-text {
  margin-top: 30px;
  color: gray;
  font-size: 12px;
}

.notsotiny {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  /* margin-bottom: 30px; */
}

.intro {
  background-color: #fff;
  margin-left: 15%;
  margin-right: 15%;
}

p.notsotitle {
  font-size: 20px;
  color: #303030;
}

.cards {
  max-width: 100%;
  margin-left: 5%;
  margin-right: 5%;
  display: grid;
  grid-gap: 1rem;
}

.card {
  background-color: rgba(255, 255, 255, 0.8);
  border-style: none !important;
  text-align: left;
  margin: 0.5%rem;
}

@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
    margin-left: 15%;
    margin-right: 15%;
  }
}

.card-container {
  background-color: #fff;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}

@media (max-width: 600px) {
  .intro {
    margin-left: 5%;
    margin-right: 5%;
  }
}

.footer-cards {
  max-width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10%;
  padding-bottom: 5%;
  display: grid;
  grid-gap: 1rem;
  background: #202020;
}

@media (min-width: 600px) {
  .footer-cards {
    grid-template-columns: repeat(2, 1fr);
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 30px;
    padding-bottom: 10px;
  }
}

.footer-card {
  border-style: none !important;
  text-align: left;
  margin: 0.5%rem;
  display: table;
  vertical-align: middle;
  width: 100%;
  text-align: left;
}

p.footer-email {
  color: #fff;
  font-size: 13px;
}

.footer-email-bold {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}

p.navigation {
  font-size: 16px;
  color: #303030;
  font-weight: bold;
}

.nav-overlap {
  background: none;
  width: 100%;
  display: table;
  padding-left: 5%;
  position: absolute;
  /* top: 0%; */
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.center-table-right {
  background: none;
  width: 100%;
  display: table;
  position: absolute;
  top: 40%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

p.uiux {
  font-size: 150px;
  color: #303030;
  /* font-weight: bold; */
  padding-top: 30%;
  padding-left: 10%;
  font-family: Georgia, "Times New Roman", Times, serif;

  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.outer-front-left {
  min-height: 100vh;
  width: 100%;
  background-color: transparent;
  position: absolute;
  display: table;
  z-index: 3;
  background-size: contain;
}
