body {
margin:  0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
}

p {
color: #fefefe
}

p.header {
color: black;
font-family: "Aharoni"; serif;
font-size: 40px;
}

p.about-text {
font-family: "Century Gothic", serif;
font-size: 15px;
color: white;
}

p.a {
font-size: 36px;
font-family: "Aharoni", serif;
color: white;
}


@media screen and  (min-width:768px) {
  .right {
    height:100vh;
  }
}

.left {
background-color: #ffc30b;
height: 100vh;
width: 50%;
position: fixed;
}

.right {
background-color:black;
height: auto;
width: 100%;
text-align: center;
padding-top: 25%;
}
