body {
margin:  0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
}

p {
color: #fefefe
}

p.header {
color: black;
font-family: "Sarina";
font-size: 75px;
}

p.about-text {
font-family: "Montserrat", serif;
font-size: 15px;
color: white;
}

p.a {
font-size: 36px;
font-family: "Montserrat", serif;
color: white;
}

p.b {
font-size: 20px;
font-family: "Montserrat", serif;
color: white;
}

@media screen and (min-width:768px) {
  .left, .right {
    height:100vh;
  }
}

.left {
background: #989898;
opacity: 100%;
background-repeat: no-repeat;
background-size: 100%;
background-size: cover;
height: 100vh;
width: 50%;
position: fixed;
}

.overlay {
background: #989898;
opacity: 50%;
height: 100vh;
width: 50%;
position: fixed;
}

.about-img {
width: 100%;
height: auto;
}

.right {
background-color:black;
height: auto;
width: 100%;
text-align: center;
padding-top: 25%;
}
